- @active_cohort_users.each do |user|
  - unless user.has_role? :admin
    %tr
      %td
        %h5
          = user.email
      %td
        - if current_user.has_role? :admin 
          %a{href: "#", class: "remove", data: {"user-id" => user.id, "user-email" => user.email, "cohort-id" => @cohort.id}} Remove User