- @active_cohort_users.each do |user|
  %tr
    %td
      = link_to user.email, cohort_path(@cohort)
    %td
      %span.button.tiny.secondary.round.dropdown{"data-dropdown" => "drop#{user.id}", href: "#"} Actions
      %br/
      %ul.f-dropdown{"data-dropdown-content" => "", id: "drop#{user.id}"}
        %li
          %a{href: "#"} This is a link
        %li
          %a{href: "mailto:#{user.email}?subject=Message from IronBaseOne"} Email User
        %li
          %a{href: "#", class: "remove", data: {"user-id" => user.id, "user-email" => user.email, "cohort-id" => @cohort.id}} Remove the User