!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      New Comment on
      = @submission.assignment.name
  
    %p
      = @commenter.email
      just made the following comment: 
      %br/
    %p
      = @comment.content
    %p 
      Click
      = link_to "here", submission_path(@submission)
      to respond!