%br
.large-6.medium-6.small-11.columns.large-centered.medium-centered
  %h2 Welcome to IronBaseOne

  %p
    I created this app during a 12-week Ruby on Rails course with
    = link_to "The Iron Yard", "http://theironyard.com"
    \.
  %p
    It's an assignment/homework management app designed with The Iron Yard's process in mind. It includes the following features: admin and student workflows, the ability to make and turn in assignments, a comment and email system that makes room for general discussion of assignments as well as private discussions between teacher and student regarding specific homework. Makes use of Devise, CanCanCan, and Workflow gems to make all of this go.
  %hr
  %p 
    If you just want to check things out, you can log in with the following credentials:
    
    %p To checkout the admin workflow:

    %ul
      %li email: admin@email.com
      %li passowrd: password

    %p To checkout the student workflow:

    %ul
      %li email: student@email.com
      %li passowrd: password

    
    Just click a
    .span.button.tiny.round.alert
      ?
    if you're feeling lost along the way.

  %p
    Learn more about me here:
    %a{href: "http://jeremysamples.com"}
      %br
      jeremysamples.com

  %p 
    Follow me on twitter:
    %a{href: "http://twitter.com/judesamp"}
      %br
      @judesamp
    
  

