%h4 Assignment Dashboard
%p 
	This page shows an individual assignment. Everyone in the course can view this page and comment on the assignment. Comments made on this page are emailed out to everyone in the class or cohort.

%p
	<b>Admin</b>: Admin can edit the assignment, see how many students have submitted their assignment, and view comments.
