%h4 Cohort or Class Page
%p
	<b>Admin Only</b>: Intented for administrators as well as instructors, the cohort or class page lists all participants or students as well as assignments. From here, administrators can add or remove students from the class, create assignments, and designate users as admin.
%br
