%h4 Admin Overview Dashboard


%p
	<b>Admin Only</b>: This page is the admin overview page. Here administrators can create new locations for courses, create new courses, and make other users administrators. 