%h4 Submission Dashboard
%p
	<b>Admin only</b>: On this page, the instructor or administrator can view all submissions for a given assignment, edit the assignment, and start the review process for any submissions. 
%br