%h4 Individual Submission page
%p
	<b>Admin</b>: On this page, the instructor or administrator can view a student's submission, mark it as complete or incomplete, leave comments (for the individual student), and check the current status of the submission.

%p
	<b>Student</b>: On this page, the student can see the assignment and their submission, check the submission's current status, and comment on their submission (or on the instructor's comments). Emails will notify all parties of new comments. 
%br