%h4 Student Dashboard
%p
	<b>Student Only</b>: This page lists all of the assignments for the cohort. It's an overview of each student's responsibilities. It acts as a navigational hub. From here, students can navigate to assignments where they can submit their homework.
%br